{{> profile-sidebar }}
<div class='profile'>
  {{> profile-avatar name="Иван" }}
  <div class='profile__info'>
      {{> row label="Старый пароль" value="**********" input="{{input}}" inputClass="row__input" }}
      {{> row label="Новый пароль" value="**********"  input="{{input}}" inputClass="row__input" }}
      {{> row label="Повторите новый пароль" value="**********"  input="{{input}}" inputClass="row__input" }}
  </div>
  <div class='profile__controls'>
      {{> button  label="Сохранить" class="primary"}}
  </div>
</div>
