<section class='plug'>
  <h2 class='plug__title'>Страница в разработке</h2>
  {{> button href="/" label="Перейти к авторизации" class="secondary button--link"}}
  {{> button href="/registration" label="Перейти к регистрации" class="secondary button--link"}}
  {{> button href="/profile" label="Перейти к профилю" class="secondary button--link"}}
  {{> button href="/404" label="Перейти к странице 404" class="secondary button--link"}}
  {{> button href="/500" label="Перейти к странице 500" class="secondary button--link"}}
</section>
