.page-404 {
  width: 100%;
  margin: auto;

  &__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: $color-font-primary;
  }
  &__subtitle {
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: $color-font-primary;
  }
  .button {
    padding: 0;
    margin-top: 70px;
  }
}
