.sidebar {
  height: 100%;
  width: 64px;
  display: flex;
  background-color: $color-light-grey;
  border-right: 1px solid $color-tertiary;

  &__button {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    margin: auto;
    @include link($color-primary);
  }
}
