.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;

  &:not(:last-child) {
    border-bottom: 1px solid $color-tertiary;
  }

  &__label {
    color: $color-font-primary;
  }

  &__value {
    color: $color-font-secondary;
  }

  &__input {
    all: unset;
    display: block;
    width: fit-content;
    color: $color-grey;
    text-align: right;
  }
}
