<section class='page-500'>
  <h1 class='page-500__title'>500</h1>
  <h2 class='page-500__subtitle'>Мы уже фиксим</h2>
  {{> button href="/chats" label="Назад к чатам" class="secondary button--link"}}
</section>
