html,
body {
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  font-family: Inter, sans-serif;
  display: flex;
}

.link {
  color: $color-primary !important;
  @include transition;
  &:hover {
    color: transparentize($color-primary, 0.2) !important;
  }
  &:active {
    color: transparentize($color-primary, 0.5) !important;
  }
  &--danger {
    color: $color-font-danger !important;
    &:hover {
      color: transparentize($color-font-danger, 0.2) !important;
    }
    &:active {
      color: transparentize($color-font-danger, 0.5) !important;
    }
  }
}
