/* Mixin that can be used to create a shadow. */
@mixin shadow {
  @include transition;

  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
}

/* Mixin that can be used to create a transition. */
@mixin transition {
  transition: all 0.3s linear;
}

/* Mixin that can be used to create a link. */
@mixin link($color, $type: 'button') {
  @include transition;

  @if $type == 'link' {
    color: $color;

    &:hover {
      color: transparentize($color, 0.2);
    }

    &:active {
      color: transparentize($color, 0.5);
    }
  } @else {
    background-color: $color;

    &:hover {
      background-color: transparentize($color, 0.2);
    }

    &:active {
      background-color: transparentize($color, 0.5);
    }
  }
}
